* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
}


img {
    max-width: 100%;
}

a {
    -webkit-tap-highlight-color: transparent;
}

nav {
    -webkit-tap-highlight-color: var(--standard-color);
}

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--standard-color);
    border-radius: 1rem;
    border: solid 3px #f1f1f1;
}