* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    scrollbar-color: var(--standard-color) #f1f1f1;
}


img {
    max-width: 100%;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

nav {
    -webkit-tap-highlight-color: var(--standard-color);
}

/* Personaliza a largura da barra */
::-webkit-scrollbar {
    width: 16px; /* Largura do scrollbar */
}

/* Fundo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do track */
}

/* Personaliza o "thumb" (barra que desliza) */
::-webkit-scrollbar-thumb {
    background-color: #ff7f50; /* Cor do barra */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #f1f1f1; /* Borda do barra */
}

/* Cor do barra ao passar o mouse por cima */
::-webkit-scrollbar-thumb:hover {
    background-color: #e76b3f;
}

/* Adiciona as setas na barra de rolagem */
/* Seta para cima */
::-webkit-scrollbar-button:single-button:decrement {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><polygon points="12,6 6,14 18,14" fill="gray"/></svg>') no-repeat center;
    background-size: contain;
    height: 16px;
}

/* Seta para baixo */
::-webkit-scrollbar-button:single-button:increment {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><polygon points="6,10 18,10 12,18" fill="gray"/></svg>') no-repeat center;
    background-size: contain;
    height: 16px;
}